{% extends 'base.html' %}
{% load static %}


{% block content %}
 <!-- Banner Section start -->
 <section class="banner-section about-us">
    <div class="overlay">
        <div class="banner-content">
            <div class="container wow fadeInUp">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-10">
                        <div class="main-content text-center">
                            <div class="top-area section-text dark-sec">
                                <h5 class="sub-title">Built for entrepreneurs, by entrepreneurs</h5>
                                <h1 class="title">The platform built to help businesses achieve their ambitions faster</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="banner-img-bottom pb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="magnific-area d-flex align-items-center justify-content-around">
                        <div class="bg-area">
                            <img class="bg-item" src="{% static 'assets/images/about-popup.png' %}" alt="image">
                        </div>
                        <a class="mfp-iframe popupvideo" href="https://www.youtube.com/watch?v=Djz8Nc0Qxwk">
                            <img src="{% static 'assets/images/icon/popup-icon.png' %}" alt="icon">
                        </a>
                    </div>
                </div>
            </div>
            <div class="stars-info pt-120">
                <div class="row justify-content-center justify-content-around">
                    <div class="col-sm-3">
                        <div class="single-box">
                            <div class="icon-box">
                                <img src="{% static 'assets/images/icon/stats-info-icon-1.png' %}" alt="icon">
                            </div>
                            <h5>2000+ employees & 100+ nationalities</h5>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="single-box">
                            <div class="icon-box">
                                <img src="{% static 'assets/images/icon/stats-info-icon-2.png' %}" alt="icon">
                            </div>
                            <h5>27+ offices around the world</h5>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="single-box">
                            <div class="icon-box">
                                <img src="{% static 'assets/images/icon/stats-info-icon-3.png' %}" alt="icon">
                            </div>
                            <h5>€303.6 BN billion in processed volume in 2020</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section end -->
 <!-- Our Values start -->
 <section class="our-values">
    <div class="overlay pt-120 pb-120">
        <div class="container wow fadeInUp">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-6">
                    <div class="section-header text-center">
                        <h5 class="sub-title">Our values</h5>
                        <h2 class="title">The values that drive everything we do</h2>
                        <p>Lorem ipsum dolor sit amet consectetur imp adipiscing elit justo aliquet elit sed</p>
                    </div>
                </div>
            </div>
            <div class="row cus-mar align-items-center">
                <div class="col-lg-6">
                    <div class="single-box d-flex">
                        <div class="img-box">
                            <img src="{% static 'assets/images/icon/values-icon-1.png'  %}" alt="icon">
                        </div>
                        <div class="text-box">
                            <h4>Innovation</h4>
                            <p>Lorem ipsum dolor sit amet consectetur imp adipiscing elit justo aliquet elit sed convallisolo neque aliquam elementum dolr.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="single-box d-flex">
                        <div class="img-box">
                            <img src="{% static 'assets/images/icon/values-icon-2.png'  %}" alt="icon">
                        </div>
                        <div class="text-box">
                            <h4>Accountability</h4>
                            <p>Lorem ipsum dolor sit amet consectetur imp adipiscing elit justo aliquet elit sed convallisolo neque aliquam elementum dolr.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="single-box d-flex">
                        <div class="img-box">
                            <img src="{% static 'assets/images/icon/values-icon-3.png'  %}" alt="icon">
                        </div>
                        <div class="text-box">
                            <h4>Commitment</h4>
                            <p>Lorem ipsum dolor sit amet consectetur imp adipiscing elit justo aliquet elit sed convallisolo neque aliquam elementum dolr.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="single-box d-flex">
                        <div class="img-box">
                            <img src="{% static 'assets/images/icon/values-icon-4.png'  %}" alt="icon">
                        </div>
                        <div class="text-box">
                            <h4>Team Work</h4>
                            <p>Lorem ipsum dolor sit amet consectetur imp adipiscing elit justo aliquet elit sed convallisolo neque aliquam elementum dolr.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Our Values end -->

<!-- Our Team start -->
{% comment %} <section class="our-team">
    <div class="overlay pt-120 pb-120">
        <div class="container wow fadeInUp">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-6">
                    <div class="section-header text-center">
                        <h5 class="sub-title">Our team</h5>
                        <h2 class="title">The amazing team behind our company</h2>
                        <p>We are a team of entrepreneurs, payment specialists and blockchain enthusiasts.</p>
                    </div>
                </div>
            </div>
            <div class="row cus-mar align-items-center">
                <div class="col-lg-4 col-sm-6">
                    <div class="single-box">
                        <div class="img-box">
                            <img src="{% static 'assets/images/team-image-1.png'  %}" alt="image">
                        </div>
                        <div class="body-area">
                            <h5>Emily Ellis</h5>
                            <p class="designation">CEO & Co-founder</p>
                            <div class="social-link d-flex justify-content-center align-items-center">
                                <a href="javascript:void(0)"><img src="{% static 'assets/images/icon/facebook.png'  %}" alt="icon"></a>
                                <a href="javascript:void(0)"><img src="{% static 'assets/images/icon/linkedin.png'  %}" alt="icon"></a>
                                <a href="javascript:void(0)"><img src="{% static 'assets/images/icon/instagram.png'  %}" alt="icon"></a>
                                <a href="javascript:void(0)"><img src="{% static 'assets/images/icon/twitter.png'  %}" alt="icon"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single-box">
                        <div class="img-box">
                            <img src="{% static 'assets/images/team-image-2.png'  %}" alt="image">
                        </div>
                        <div class="body-area">
                            <h5>Leo Nunez</h5>
                            <p class="designation">VP of Product</p>
                            <div class="social-link d-flex justify-content-center align-items-center">
                                <a href="javascript:void(0)"><img src="{% static 'assets/images/icon/facebook.png'  %}" alt="icon"></a>
                                <a href="javascript:void(0)"><img src="{% static 'assets/images/icon/linkedin.png'  %}" alt="icon"></a>
                                <a href="javascript:void(0)"><img src="{% static 'assets/images/icon/instagram.png'  %}" alt="icon"></a>
                                <a href="javascript:void(0)"><img src="{% static 'assets/images/icon/twitter.png'  %}" alt="icon"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single-box">
                        <div class="img-box">
                            <img src="{% static 'assets/images/team-image-3.png'  %}" alt="image">
                        </div>
                        <div class="body-area">
                            <h5>Ken Moss</h5>
                            <p class="designation">Head of Marketing</p>
                            <div class="social-link d-flex justify-content-center align-items-center">
                                <a href="javascript:void(0)"><img src="{% static 'assets/images/icon/facebook.png'  %}" alt="icon"></a>
                                <a href="javascript:void(0)"><img src="{% static 'assets/images/icon/linkedin.png'  %}" alt="icon"></a>
                                <a href="javascript:void(0)"><img src="{% static 'assets/images/icon/instagram.png'  %}" alt="icon"></a>
                                <a href="javascript:void(0)"><img src="{% static 'assets/images/icon/twitter.png'  %}" alt="icon"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single-box">
                        <div class="img-box">
                            <img src="{% static 'assets/images/team-image-4.png'  %}" alt="image">
                        </div>
                        <div class="body-area">
                            <h5>Teri Wise</h5>
                            <p class="designation">Creative Director</p>
                            <div class="social-link d-flex justify-content-center align-items-center">
                                <a href="javascript:void(0)"><img src="{% static 'assets/images/icon/facebook.png'  %}" alt="icon"></a>
                                <a href="javascript:void(0)"><img src="{% static 'assets/images/icon/linkedin.png'  %}" alt="icon"></a>
                                <a href="javascript:void(0)"><img src="{% static 'assets/images/icon/instagram.png'  %}" alt="icon"></a>
                                <a href="javascript:void(0)"><img src="{% static 'assets/images/icon/twitter.png'  %}" alt="icon"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single-box">
                        <div class="img-box">
                            <img src="{% static 'assets/images/team-image-5.png'  %}" alt="image">
                        </div>
                        <div class="body-area">
                            <h5>Billy Roy</h5>
                            <p class="designation">VP of Infrastructure</p>
                            <div class="social-link d-flex justify-content-center align-items-center">
                                <a href="javascript:void(0)"><img src="{% static 'assets/images/icon/facebook.png'  %}" alt="icon"></a>
                                <a href="javascript:void(0)"><img src="{% static 'assets/images/icon/linkedin.png'  %}" alt="icon"></a>
                                <a href="javascript:void(0)"><img src="{% static 'assets/images/icon/instagram.png'  %}" alt="icon"></a>
                                <a href="javascript:void(0)"><img src="{% static 'assets/images/icon/twitter.png'  %}" alt="icon"></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <div class="single-box">
                        <div class="img-box">
                            <img src="{% static 'assets/images/team-image-6.png'  %}" alt="image">
                        </div>
                        <div class="body-area">
                            <h5>Emily Ellis</h5>
                            <p class="designation">CEO & Co-founder</p>
                            <div class="social-link d-flex justify-content-center align-items-center">
                                <a href="javascript:void(0)"><img src="{% static 'assets/images/icon/facebook.png'  %}" alt="icon"></a>
                                <a href="javascript:void(0)"><img src="{% static 'assets/images/icon/linkedin.png'  %}" alt="icon"></a>
                                <a href="javascript:void(0)"><img src="{% static 'assets/images/icon/instagram.png'  %}" alt="icon"></a>
                                <a href="javascript:void(0)"><img src="{% static 'assets/images/icon/twitter.png'  %}" alt="icon"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> {% endcomment %}
<!-- Our Team end -->

<!-- Location start -->
<section class="location">
    <div class="overlay pb-120">
        <div class="container wow fadeInUp">
            <div class="row align-items-center justify-content-center">
                <div class="col-xl-8">
                    <div class="section-header text-center">
                        <h5 class="sub-title">Our offices</h5>
                        {% comment %} <h2 class="title">Come and visit our offices around the world</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit diam malesuada nisl enim phasellus condimentum.</p> {% endcomment %}
                    </div>
                </div>
            </div>
            <div class="row align-items-center cus-mar">
                <div class="col-xl-4 col-md-6">
                    <div class="single-box">
                        <div class="head-area d-flex align-items-center">
                            <div class="img-box">
                                <img src="{% static 'assets/images/icon/location-icon-1.png'  %}" alt="image">
                            </div>
                            <h4>Bengaluru</h4>
                        </div>
                        <div class="email-phone">
                            <div class="img-box">
                                <img src="{% static 'assets/images/icon/email-icon-1.png'  %}" alt="icon">
                            </div>
                            <p><a href="https://pixner.net/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="4a392b242c382b2429233929250a3a2b3326232564292527">67richardthomas@gmail.com</a></p>
                        </div>
                        <div class="email-phone">
                            <div class="img-box">
                                <img src="{% static 'assets/images/icon/phone-icon-1.png'  %}" alt="icon">
                            </div>
                            <p>+91 9844477246</p>
                        </div>
                        <div class="bottom-area">
                            <a href="javascript:void(0)">
                                View Location
                                <img src="{% static 'assets/images/icon/arrow-right-4.png'  %}" alt="icon">
                            </a>
                        </div>
                    </div>
                </div>

                {% comment %} <div class="col-xl-4 col-md-6">
                    <div class="single-box">
                        <div class="head-area d-flex align-items-center">
                            <div class="img-box">
                                <img src="{% static 'assets/images/icon/location-icon-2.png'  %}" alt="image">
                            </div>
                            <h4>New York</h4>
                        </div>
                        <div class="email-phone">
                            <div class="img-box">
                                <img src="{% static 'assets/images/icon/email-icon-2.png'  %}" alt="icon">
                            </div>
                            <p><a href="https://pixner.net/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="c1afa4b6b8aeb3aa81b1a0b8ada8aeefa2aeac">[email&#160;protected]</a></p>
                        </div>
                        <div class="email-phone">
                            <div class="img-box">
                                <img src="{% static 'assets/images/icon/phone-icon-2.png'  %}" alt="icon">
                            </div>
                            <p>415) 931 - 1616</p>
                        </div>
                        <div class="bottom-area">
                            <a href="javascript:void(0)">
                                View Location
                                <img src="{% static 'assets/images/icon/arrow-right-4.png'  %}" alt="icon">
                            </a>
                        </div>
                    </div>
                </div> {% endcomment %}
                {% comment %} <div class="col-xl-4 col-md-6">
                    <div class="single-box">
                        <div class="head-area d-flex align-items-center">
                            <div class="img-box">
                                <img src="{% static 'assets/images/icon/location-icon-3.png'  %}" alt="image">
                            </div>
                            <h4>San Francisco</h4>
                        </div>
                        <div class="email-phone">
                            <div class="img-box">
                                <img src="{% static 'assets/images/icon/email-icon-3.png'  %}" alt="icon">
                            </div>
                            <p><a href="https://pixner.net/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="91fdfefff5feffd1e1f0e8fdf8febff2fefc">[email&#160;protected]</a></p>
                        </div>
                        <div class="email-phone">
                            <div class="img-box">
                                <img src="{% static 'assets/images/icon/phone-icon-3.png'  %}" alt="icon">
                            </div>
                            <p>415) 931 - 1616</p>
                        </div>
                        <div class="bottom-area">
                            <a href="javascript:void(0)">
                                View Location
                                <img src="{% static 'assets/images/icon/arrow-right-4.png'  %}" alt="icon">
                            </a>
                        </div>
                    </div>
                </div> {% endcomment %}
            </div>
        </div>
    </div>
</section>
<!-- Location end -->


{% endblock %}